.app-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 0 12px;
    z-index: 1000;
  }
  
  .back-button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .app-bar-title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
  }
  .med-container {
    padding: 60px 16px 24px;
    font-family: normal;
    background-color: #ffffff;
    padding-bottom: 80px;
  }

  .section-title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .more-button {
    font-size: 12px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 4px;
    width: 60px;
    height: 22px;
  }
  
  /* 약 정보 카드 */
  .medicine-card {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    gap: 12px;
  }
  
  .med-image {
    width: 80px;
    height: 80px;
  }
  
  .med-info h3 {
    margin: 0;
    font-size: 15px;
  }
  
  .tag {
    font-size: 12px;
    color: #666;
    margin: 4px 0;
  }
  
  .med-info p {
    font-size: 13px;
    color: #333;
  }
  
  /* 리뷰 */
  .review-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    overflow-x: auto;
  }
  
  .review-card {
    flex: 0 0 auto;
    background-color: #f0f0f0;
    border-radius: 6px;
    padding: 10px;
    width: 160px;
  }
  
  .review-user {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 4px;
    margin-top: 0px;
  }
  
  .review-content {
    font-size: 13px;
    color: #444;
  }
  
  /* 버튼 */
  .button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .faq-button,
  .consult-button {
    padding: 12px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
  }
  
  .faq-button {
    background-color: #ffffff;
    border: 1px solid #000;
    color: #000;
  }
  
  .consult-button {
    background-color: #000;
    color: #fff;
  }
  
  /* 하단 홈 아이콘 */
  .home-icon {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
  }
  