/* ---------------- 병원 섹션 ---------------- */
.hos-section {
  margin-top: 20px;
}

.hos-section h2 {
  font-size: 18px;
}

/* ---------------- 카드 리스트 ---------------- */
.hos-cards {
  display: flex;
  justify-content: space-around;
}

.hos-cards p,
.hos-cards span {
  margin: 8px;
  text-align: left;
}

.hos-cards p {
  font-size: 12px;
}

.hos-cards span {
  font-size: 13px;
  display: block;
}

/* ---------------- 개별 카드 ---------------- */
.hos-card {
  width: 164px;
  height: 215px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.hos-card img {
  width: 164px;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* ---------------- 버튼 ---------------- */
.call-button,
.save-button {
  padding: 12px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.call-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.save-button {
  background-color: #000;
  color: #fff;
}
